*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: var(--background-color);
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
}

svg {
  fill: var(--foreground-color);
}
